# Health Insurance Project: Data Visualisation and Investigation
---

Import libraries:

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

---

## Import cleaned data csv

Import the cleaned data that was the outut of the data_cleanup notebook

Also need to reapply the category data types and num columns as the csv doesn't store this data

Finally view the dataframe as a refresher of what we are dealing with

In [ ]:
# Import cleaned data csv
insurance = pd.read_csv('../data/insurance_cleaned.csv')

# List of categorical columns to convert back to category dtype
categorical_columns = ['Age_Group', 'Sex', 'BMI_Group', 'Plan', 'Smoker', 'Region']

# Convert specified columns to category dtype
for col in categorical_columns:
    insurance[col] = insurance[col].astype('category')

# Reset numerical versions of the categorical columns in case changed
for col in categorical_columns:
    insurance[f"{col}_num"] = insurance[col].cat.codes

insurance.head()

,Age,Age_Group,Age_Group_num,Sex,Sex_num,BMI,BMI_Group,BMI_Group_num,Children,Plan,Plan_num,Smoker,Smoker_num,Region,Region_num,Charges,Charges_Per_Person,Charges_Outlier,Charges_Per_Person_Outlier
0,19,Ages 18-25,0,Female,0,27.900,Overweight,2,0,Standard,1,Yes,1,Southwest,3,16884.92400,16884.92400,False,False
1,18,Ages 18-25,0,Male,1,33.770,Obese,1,1,Family,0,No,0,Southeast,2,1725.55230,862.77615,False,False
2,28,Ages 26-34,1,Male,1,33.000,Obese,1,3,Family,0,No,0,Southeast,2,4449.46200,1112.36550,False,False
3,33,Ages 26-34,1,Male,1,22.705,Healthy Weight,0,0,Standard,1,No,0,Northwest,1,21984.47061,21984.47061,False,False
4,32,Ages 26-34,1,Male,1,28.880,Overweight,2,0,Standard,1,No,0,Northwest,1,3866.85520,3866.85520,False,False