# Health Insurance Project: Data Import, Clean & Transform
---

Import Pandas library:

In [2]:
import pandas as pd

Import the insurance_raw.csv file:

In [4]:
insurance_raw = pd.read_csv("../data/insurance_raw.csv")

View the first 10 rows of the raw file:

In [5]:
insurance_raw.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

Check summary of inital raw data:

In [6]:
before_summary = pd.DataFrame({
    "dtype": insurance_raw.dtypes,
    "missing_values": insurance_raw.isnull().sum(),
    "non_missing": insurance_raw.notnull().sum(),
    "unique_values": insurance_raw.nunique()
})
before_summary

            dtype  missing_values  non_missing  unique_values
age         int64               0         1338             47
sex        object               0         1338              2
bmi       float64               0         1338            548
children    int64               0         1338              6
smoker     object               0         1338              2
region     object               0         1338              4
charges   float64               0         1338           1337

There are no missing values, so no need to handle any missing data.

Age and bmi have very varied results, looking at the unique values, so I will look to add new bin/banding groups for both of them.

Sex, children, smoker and region have very few unique values so look like category columns. I will view the unique values and set them as category columns.